html,body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New';
}

/* Navigation bar*/
.nav {
    background-color: lightblue;
    width: 100%;
    height: 70px;
    border-bottom: solid black 2px;
    z-index: 1;
    margin: 0px;
    position:fixed;
    overflow:hidden;
    list-style-type: none;
}

.nav .left-nav-item {
    float: left;
    padding:15px;
    z-index:1;
}

.nav .right-nav-item {
    float: right;
    padding:15px;
    z-index:1;
}

.logo {
    margin: 0px;
    margin-right:40px;
}

.search-input {
    border-style: solid;
    width: 600px;
    border-color: black;
    border-radius: 10px;
    height: 30px;
}

.cart-access-li {
    height: 100%;
    float:right;
    z-index: 1;
    padding:0px;
    border-left: solid black 2px;
}

.cart-access-li:hover{
    background-color: blanchedalmond;
}

.cart-access {
    width: 130px;
    height: 100%;
}

.num-products {
    margin: 10px 10px 5px 10px;
    width: 70px;
    border-radius: 10px;
    text-align: center;
    background-color: darkgray;
}

.cart-logo {
    padding: 5px 0px 0px 30px;
}

.login-button {
     border-radius: 20px;
     width: 130px;
     height: 30px;
     border-style: none;
     background-color:darkgray;
     display: inline-block;
}

.login-button:hover {
    background-color: blanchedalmond;
}

/* Side bar Navigation */
.side-nav{ 
    width: 18%;
    height: 100%;
    background-color: darkgray;
    padding: 70px 0px 10px 0px;
    position: fixed;
}

.visible {
    visibility: visible;
    display: block;
}

.hidden {
    visibility: hidden;
    display: none;
}

.cat-title {
    padding: 0px 10px 0px 10px;
    border-bottom: solid black 4px;
}

.cat-box {
    padding: 0px 10px 0px 10px;
    border-bottom: solid black 2px;
}

.cat-box-extent{
    list-style-type: none;
    margin:0;
    padding:0;
    width:100%;
    font-size: 12;
}

.cat-box a {
    text-decoration: none;
}

.cat-box a:visited {
    color:black;
}

.cat-box-extent li {
    height: 20px;
    margin-top: 10px;
}

.cat-box-extent li input{
    border-style: solid 1px black;
    border-radius: 10px;
    float:right; 
}

/* main site */
.main{
    background-color: whitesmoke;
    width:82%;
    padding-top: 70px;
    padding-left: 18%;
}

.product-box{
    margin: 40px 0px 40px 150px;
    padding: 0px 10px 10px 10px;
    height: 300px;
    width: 350px;
    border: solid black 2px;
    display: inline-block;
}

.product-img {
    width: 200px;
    height: 170px;
    margin-bottom: 20px;
}

.price{
    float:left;
    text-align: center;
    padding-top: 10px;
    width: 160px;
    height: 30px;
    border:solid black 2px;    
}

.add-cart-button {
    float: right;
    height: 40px;
    border-radius: 10px;
    background-color: darkgray;
    border-style:solid;
}

